<!DOCTYPE HTML>
<html>
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="icon" href="./favicon.ico">
	<link rel="stylesheet" href="../css/themes/lux/bootstrap.css" />
	<link rel="stylesheet" href="../css/font-awesome.css" />
	<link rel="stylesheet" href="../css/site.css" />
</head>

<body ng-app="app">
	<div ng-controller='SettingsCtrl'>
	
		<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
			<a class="navbar-brand" href="javascript:void(0);">SlotCup</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarColor03" aria-controls="navbarColor03"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
	
			<div class="collapse navbar-collapse" id="navbarColor03">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="./pilots.html">Pilotos</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="./settings.html">Configuração</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./race.html">Corrida</a>
					</li>				
				</ul>
			</div>
		</nav>
		
		<div class="container margin-container" ng-show="!edit">
			<div class="bd-callout bd-callout-danger">
				<h4>Corridas</h4>
				<br />
				
				<div class="row">
					<table class="table">
						<tbody>
							<tr ng-repeat="corrida in corridas">
								<td width="80%">{{ corrida.nome }}</td>
								<td><a href="" ng-click="editCorrida(corrida);">Configurar</a></td>
							</tr>
							<tr ng-if="pilots.size > 0" width="20%">
								<td>Nenhum resgistro encontrato</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="row float-right margin-right-zero">
					<button type="button" class="btn btn-outline-primary" ng-click="newCorrida();">Novo</button>
				</div>
				<br />
				<br />			
			</div>
		</div>
	
		<div class="container margin-container" ng-show="edit">
		
			<div class="bd-callout bd-callout-danger">
				<h4>Configurações gerais da corrida</h4>
				<br />
				<div class="form-group row">
					<label for="" class="col-sm-3 col-form-label"><i class="fa fa-clock-o"></i> NOME DA CORRIDA</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" 
							placeholder="Nome da corrida" ng-model="corrida.nome">
					</div>
				</div>
				<div class="form-group row">
					<label for="" class="col-sm-3 col-form-label"><i class="fa fa-clock-o"></i> TEMPO TOTAL DA CORRIDA</label>
					<div class="col-sm-9">
						<input type="number" class="form-control"
							placeholder="Tempo total da corrida em minutos" ng-model="corrida.duracaoMaxima">
					</div>
				</div>
				<div class="form-group row">
					<label for="" class="col-sm-3 col-form-label"><i class="fa fa-users"></i> EQUIPES</label>
					<div class="col-sm-9">
						<input type="number" class="form-control"
							placeholder="Quantidade de equipes" ng-model="corrida.quantidadeEquipes">
					</div>
				</div>
				<div class="form-group row">
					<label for="" class="col-sm-3 col-form-label"><i class="fa fa-user-plus"></i> PILOTOS POR EQUIPE</label>
					<div class="col-sm-9">
						<input type="number" class="form-control"
							placeholder="Número máximo de pilotos por equipe" ng-model="corrida.maximoPilotoEquipe">
					</div>
				</div>
				<div class="form-group row">
					<label for="" class="col-sm-3 col-form-label"><i class="fa fa-refresh"></i> TROCA DE FENDA</label>
					<div class="col-sm-9">
						<input type="number" class="form-control"
							placeholder="Tempo para troca de fenda" ng-model="corrida.tempoTrocaFenda">
					</div>
				</div>
				<div class="form-group row">
					<label for="" class="col-sm-3 col-form-label"><i class="fa fa-exchange"></i> TROCA DE JANELA</label>
					<div class="col-sm-9">
						<input type="number" class="form-control"
							placeholder="Tempos para troca de janela" ng-model="corrida.tempoTrocaJanela">
					</div>
				</div>			
				<div class="row float-right margin-right-zero">
					<button type="button" class="btn btn-outline-primary">Calcular</button>
				</div>
				<br />
				<br />			
			</div>
					
			<div class="bd-callout bd-callout-info">
				<h4>Informações da corrida</h4>
				<br />
				<div class="form-group row">
					<label for="" class="col-sm-3 col-form-label"><i class="fa fa-refresh"></i> TROCAS DE FENDAS</label>
					<div class="col-sm-3">
						<input type="number" min="0" class="form-control text-center" ng-model="corrida.totalTrocaFendas">
					</div>
					
					<label for="" class="col-sm-3 col-form-label"><i class="fa fa-exchange"></i> TROCAS DE JANELAS</label>
					<div class="col-sm-3">
						<input type="number" min="0" class="form-control text-center" ng-model="corrida.totalTrocaJanela">
					</div>
					
					<label for="" class="col-sm-3 col-form-label"><i class="fa fa-clock-o"></i> TEMPO DE JANELA</label>
					<div class="col-sm-3">
						<input type="number" min="0" class="form-control text-center" ng-model="corrida.duracaoJanela">
					</div>
					
					<label for="" class="col-sm-3 col-form-label"><i class="fa fa-window-maximize"></i> QUANTIDADE DE JANELAS</label>
					<div class="col-sm-3">
						<input type="number" min="0" class="form-control text-center" ng-model="corrida.totalJanelas">
					</div>
				</div>
				<br />
				<div class="row mx-auto" style="width: 201px">
					<h5>TEMPOS (MINUTOS)</h5>
				</div>
				<div class="row">
					<table class="table">
						<tbody>
							<tr>
								<td>Tempo Efetivo de Corrida</td>
								<td>700</td>
							</tr>
							<tr>
								<td>Tempo Total de Corrida por Equipe</td>
								<td>100</td>
							</tr>
							<tr>
								<td>Tempo Total de Trocas de Fenda</td>
								<td>18</td>
							</tr>
							<tr>
								<td>Tempo Total de Trocas de Janela</td>
								<td>2,5</td>
							</tr>
							<tr>
								<td>Tempo Total de Corrida</td>
								<td>704</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row float-right margin-right-zero">
					<button type="button" class="btn btn-outline-success" ng-click="saveCorrida();">Salvar Corrida</button>
					<button type="button" class="btn btn-outline-default" ng-click="cancelCorrida();">Cancelar</button>
				</div>
				<br />
				<br />
			</div>		
		</div>
		
		<div id="corridaModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Corrida</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <div class="form-group row">
					<label for="" class="col-sm-3 col-form-label"><i class="fa fa-clock-o"></i> NOME</label>
					<div class="col-sm-9">
						<input type="text" maxlength="40" class="form-control" ng-model="corrida.nome"
							placeholder="Nome da corrida">
					</div>
				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" ng-click="saveCorrida();">Salvar</button>
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
		      </div>
		    </div>
		  </div>
		</div>
		
	</div>
	
	<script src="../js/jquery.js"></script>
	<script src="../js/popper.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/angular.js"></script>
	
	<script src="../js/app/app.js"></script>
	<script src="../js/app/config.js"></script>
	<script src="../js/app/controllers/settings-controller.js"></script>
</body>
</html>